<% content_for :title do %>
  Foodlog
<% end %>

<div class="columns mt-6 is-centerd">
<%= link_to "View all entries" , archives_index_path , class: "button is-link is-outlined is-centerd" %>
</div>

<div class="columns mt-6 is-centerd">

<div id="entries">
  <% @entries.each do |entry| %>

  <div class="columns is-one-quarter">

    <div class = "card">


    <%= render entry %>

     </div>
<br><br>

      </div>
  <% end %>
</div>
</div>

